@charset "utf-8";
table,th,td{
    border: solid 2px black;
}th,td{
    padding: 11px;
    text-align: left;
    vertical-align: top;
}
td{
    background-color: white;
}th{
    background-color: rgb(246, 217, 222);
 }
span{
    font-size: 0.5rem;
}
.indispensability{
    background-color: red;
    border-radius: 3px;
    padding: 3px;
}table {
    border: solid 1px black;
    border-collapse: collapse;
}